In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read Pipe Delimited File") \
    .master("local[*]") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .config("spark.driver.host", "127.0.0.1") \
    .getOrCreate()

In [4]:
# Path to your .txt file
file_path = "D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/pac_summary/webk20.txt"

# Read the .txt file
df = spark.read.option("header", "true") \
               .option("delimiter", "|") \
               .option("inferSchema", "true") \
               .csv(file_path)

# Show the DataFrame
df.show(3)

+---------+--------------------+-------+---------+----------------+------------+--------------+------------+----------------------+------------+----------+------------------+----------+------------+------------+----------------------+---------------+----------+----------+----------------------+---------------------+---------------------+----------------------+----------------+----------+
|  CMTE_ID|             CMTE_NM|CMTE_TP|CMTE_DSGN|CMTE_FILING_FREQ|TTL_RECEIPTS|TRANS_FROM_AFF|INDV_CONTRIB|OTHER_POL_CMTE_CONTRIB|CAND_CONTRIB|CAND_LOANS|TTL_LOANS_RECEIVED|  TTL_DISB|TRANF_TO_AFF|INDV_REFUNDS|OTHER_POL_CMTE_REFUNDS|CAND_LOAN_REPAY|LOAN_REPAY|   COH_BOP|COH_COP\tDEBTS_OWED_BY|NONFED_TRANS_RECEIVED|CONTRIB_TO_OTHER_CMTE|IND_EXP\tPTY_COORD_EXP|NONFED_SHARE_EXP|CVG_END_DT|
+---------+--------------------+-------+---------+----------------+------------+--------------+------------+----------------------+------------+----------+------------------+----------+------------+------------+----------------------+---------------+----------+----------+----------------------+---------------------+---------------------+----------------------+----------------+----------+
|C00000059|  HALLMARK CARDS PAC|      Q|        U|               M|   112582.58|           0.0|   112582.58|                   0.0|         0.0|       0.0|               0.0| 114004.97|         0.0|         0.0|                   0.0|            0.0|       0.0| 148995.87|             151358.23|                  0.0|                  0.0|              109000.0|             0.0|       0.0|
|C00000422|AMERICAN MEDICAL ...|      Q|        B|               M|  1617198.05|           0.0|  1572559.36|                   0.0|         0.0|       0.0|               0.0|1722899.94|         0.0|     7452.59|                   0.0|            0.0|       0.0|1142153.22|            1036451.33|                  0.0|                  0.0|             1293500.0|        344800.0|       0.0|
|C00000489|D R I V E POLITIC...|      N|        U|               Q|    77582.87|      77582.87|         0.0|                   0.0|         0.0|       0.0|               0.0|  83275.63|         0.0|         0.0|                   0.0|            0.0|       0.0|  13740.13|               8047.37|                  0.0|                  0.0|                   0.0|             0.0|       0.0|
+---------+--------------------+-------+---------+----------------+------------+--------------+------------+----------------------+------------+----------+------------------+----------+------------+------------+----------------------+---------------+----------+----------+----------------------+---------------------+---------------------+----------------------+----------------+----------+
only showing top 3 rows

In [5]:
spark

In [6]:
spark.stop()

In [14]:
import pandas as pd
df = pd.read_csv(r"D:\DE_Project_FEC\fec_env\big-data-fec-project\data\raw\candidate_master\candidate_master.csv")
df.head(2)

,CAND_ID,CAND_NAME,CAND_PTY_AFFILIATION,CAND_ELECTION_YR,CAND_OFFICE_ST,CAND_OFFICE,CAND_OFFICE_DISTRICT,CAND_ICI,CAND_STATUS,CAND_PCC,CAND_ST1,CAND_ST2,CAND_CITY,CAND_ST,CAND_ZIP
0,H0AK00105,"LAMB, THOMAS",NNE,2020,AK,H,0.0,C,N,C00607515,1861 W LAKE LUCILLE DR,NaN,WASILLA,AK,99654.0
1,H0AK00113,"TUGATUK, RAY SEAN",DEM,2020,AK,H,0.0,C,N,NaN,PO BOX 172,NaN,MANAKOTAK,AK,99628.0

In [15]:
df.shape

(7758, 15)

In [16]:
df.columns

Index(['CAND_ID', 'CAND_NAME', 'CAND_PTY_AFFILIATION', 'CAND_ELECTION_YR',
       'CAND_OFFICE_ST', 'CAND_OFFICE', 'CAND_OFFICE_DISTRICT', 'CAND_ICI',
       'CAND_STATUS', 'CAND_PCC', 'CAND_ST1', 'CAND_ST2', 'CAND_CITY',
       'CAND_ST', 'CAND_ZIP'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7758 entries, 0 to 7757
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CAND_ID               7758 non-null   object
 1   CAND_NAME             7758 non-null   object
 2   CAND_PTY_AFFILIATION  7751 non-null   object
 3   CAND_ELECTION_YR      7758 non-null   int64
 4   CAND_OFFICE_ST        7758 non-null   object
 5   CAND_OFFICE           7758 non-null   object
 6   CAND_OFFICE_DISTRICT  7751 non-null   float64
 7   CAND_ICI              7436 non-null   object
 8   CAND_STATUS           7758 non-null   object
 9   CAND_PCC              6337 non-null   object
 10  CAND_ST1              7569 non-null   object
 11  CAND_ST2              914 non-null    object
 12  CAND_CITY             7755 non-null   object
 13  CAND_ST               7579 non-null   object
 14  CAND_ZIP              7568 non-null   float64
dtypes: float64(2), int64(1), object(12)
memory usage: 909.3+ KB

In [13]:
clean_df = df[(df['CAND_ELECTION_YR'] < 2021) & (df['CAND_ELECTION_YR'] > 2018)]
clean_df.shape

(5179, 15)

In [16]:
year_list = df['CAND_ELECTION_YR'].unique()
sorted(year_list,reverse=True)

[np.int64(2916),
 np.int64(2820),
 np.int64(2106),
 np.int64(2064),
 np.int64(2052),
 np.int64(2048),
 np.int64(2044),
 np.int64(2040),
 np.int64(2036),
 np.int64(2032),
 np.int64(2029),
 np.int64(2028),
 np.int64(2026),
 np.int64(2025),
 np.int64(2024),
 np.int64(2022),
 np.int64(2021),
 np.int64(2020),
 np.int64(2019),
 np.int64(2018),
 np.int64(2017),
 np.int64(2016),
 np.int64(2015),
 np.int64(2014),
 np.int64(2013),
 np.int64(2012),
 np.int64(2011),
 np.int64(2010),
 np.int64(2008),
 np.int64(2006),
 np.int64(2004),
 np.int64(2002),
 np.int64(2001),
 np.int64(2000),
 np.int64(1998),
 np.int64(1996),
 np.int64(1994),
 np.int64(1992),
 np.int64(1990),
 np.int64(1988),
 np.int64(1986),
 np.int64(1984)]

In [23]:
# change into integer

#df['CAND_ZIP'] = df['CAND_ZIP'].astype(int)
df['CAND_ZIP'].sort_values(ascending=False)

3282    995100298.0
3266    989449767.0
2557    986420020.0
2581    983915226.0
2546    982060326.0
           ...
7498            NaN
7500            NaN
7527            NaN
7654            NaN
7691            NaN
Name: CAND_ZIP, Length: 7758, dtype: float64

In [24]:
df['CAND_ZIP'].unique()

array([99654., 99628., 99503., ..., 25414., 83014., 82003.], shape=(5409,))

In [26]:
df['CAND_ZIP'].isnull().sum()

np.int64(190)

In [27]:
df.isnull().sum()

CAND_ID                    0
CAND_NAME                  0
CAND_PTY_AFFILIATION       7
CAND_ELECTION_YR           0
CAND_OFFICE_ST             0
CAND_OFFICE                0
CAND_OFFICE_DISTRICT       7
CAND_ICI                 322
CAND_STATUS                0
CAND_PCC                1421
CAND_ST1                 189
CAND_ST2                6844
CAND_CITY                  3
CAND_ST                  179
CAND_ZIP                 190
dtype: int64

In [29]:
df.duplicated().sum()

np.int64(0)

## 3. Expenditure Analysis

In [31]:
oper_exp_df = pd.read_csv("D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/operating_expenditure/operating_expenditure.csv")
oper_exp_df.head()

C:\Users\mdsoh\AppData\Local\Temp\ipykernel_2908\1593964492.py:1: DtypeWarning: Columns (10,15) have mixed types. Specify dtype option on import or set low_memory=False.
  oper_exp_df = pd.read_csv("D:/DE_Project_FEC/fec_env/big-data-fec-project/data/raw/operating_expenditure/operating_expenditure.csv")

,CMTE_ID,AMNDT_IND,RPT_YR,RPT_TP,IMAGE_NUM,LINE_NUM,FORM_TP_CD,SCHED_TP_CD,NAME,CITY,...,PURPOSE,CATEGORY,CATEGORY_DESC,MEMO_CD,MEMO_TEXT,ENTITY_TP,SUB_ID,FILE_NUM,TRAN_ID,BACK_REF_TRAN_ID
0,T,2019,TER,201901209143894009,17,F3,SB,ADMINISTRATIVE BUSINESS SERVICES,CHARLOTTE,NC,...,NaN,NaN,NaN,NaN,ORG,4021520191639587673,1305744,VTPY09W3DX1,NaN,NaN
1,T,2019,TER,201901209143894009,17,F3,SB,ADP INC,ROSELAND,NJ,...,NaN,NaN,NaN,NaN,ORG,4021520191639587675,1305744,VTPY09W2JW7,NaN,NaN
2,T,2019,TER,201901209143894009,17,F3,SB,HUSTLE INC,SAN FRANCISCO,CA,...,NaN,NaN,NaN,NaN,ORG,4021520191639587677,1305744,VTPY09W2KA8,NaN,NaN
3,T,2019,TER,201901209143894010,17,F3,SB,NGP VAN INC.,WASHINGTON,DC,...,NaN,NaN,NaN,NaN,ORG,4021520191639587679,1305744,VTPY09W3DV6,NaN,NaN
4,T,2019,TER,201901219143901217,17,F3,SB,ELECTEK USA,CHAGRIN FALLS,OH,...,1.0,Administrative/Salary/Overhead Expenses,NaN,NaN,ORG,4021320191639407447,1305860,SB17.55757,NaN,NaN

In [33]:
# no. of rows
oper_exp_df.shape

(2310524, 25)

In [34]:
# null values
oper_exp_df.isnull().sum()

CMTE_ID                   0
AMNDT_IND                 0
RPT_YR                    0
RPT_TP                    0
IMAGE_NUM                 0
LINE_NUM                  0
FORM_TP_CD                0
SCHED_TP_CD             158
NAME                   6255
CITY                   6463
STATE                  7803
ZIP_CODE                 15
TRANSACTION_DT            0
TRANSACTION_AMT      924380
TRANSACTION_PGI       10154
PURPOSE             1800724
CATEGORY            1808169
CATEGORY_DESC       1524383
MEMO_CD             1718434
MEMO_TEXT              4593
ENTITY_TP                 0
SUB_ID                    0
FILE_NUM                  0
TRAN_ID             1619641
BACK_REF_TRAN_ID    2310524
dtype: int64